*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-align: center;
    user-select: none;
}

html{
	width:100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
}

body{
	min-width:100%;
	min-height:100%;
}

#Background{
    position: absolute;
    background: url('../Imgs/B2.jpg')no-repeat center center fixed;
    background-size: cover;
    background-blend-mode: darken, luminosity;
    width: 100%;
    height: 100%;
    filter: blur(13px);
    transition: filter 2s;

}
#note1{
	width: 41px;
    position: absolute;
    top: 185px;
    left: 597px;
    filter: brightness(.5);
    transform: rotate3d(1, 3, 8, 182deg);
    z-index:-1;

}
#note2{
	width: 80px;
    position: absolute;
    top: 435px;
    left: 636px;
    filter: brightness(.1);
    transform: rotate3d(1, 1, 1, 253deg);
    z-index:-1;
}
#note3{
	width: 80px;
    position: absolute;
    transform: rotate3d(3, 3, 6, 262deg);
    top: 193px;
    left: 261px;
    filter: hue-rotate(336deg) brightness(0.4);
    z-index:-1;
}
#note4{
	width: 80px;
    position: absolute;
    top: 788px;
    left: 228px;
    transform: rotate(140deg);
    filter: brightness(.05);
    z-index:-1;
}
#note5{
	width: 80px;
    position: absolute;
    top: 162px;
    left: 406px;
    filter: brightness(.7);
    transform: rotate3d(5, 5, 2, 148deg);
    z-index:-1;

}
#note6{
	width: 80px;
	position: absolute;
	top:201px;
	transform: rotate(90deg);
	right:277px;
	filter: brightness(.6);
	z-index:-1;
}

#note7{
	width: 80px;
	position: absolute;
	top: 65%;
	right:468px;
	transform: rotate3d(250, 5, 9, 293deg);
	filter:brightness(.3);
    z-index:-1;
}
#Door{
	position: absolute;
    right: 355px;
    width: 134px;
    height: 306px;
    top: 140px;
    transform: rotate3d(3, 9, 150, 1deg);
    z-index: -1;
    cursor: pointer;
    z-index:-1;
}