*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-align: center;
    user-select: none;
}
html{
	width:100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
}

body{
	min-width:100%;
	min-height:100%;
}

#Background{
    position:absolute;
    background: url(../Imgs/haunted\ house\ 1920x1080\ wallpaper_www.wallpaperhi.com_19\ EDITED.png) no-repeat center center fixed; 
    background-size: cover;
    background-blend-mode: darken, luminosity;
    width: 100%;
    height: 100%;
    filter: blur(13px);
    transition: filter 2s;
}

.g_id_signin{
    position: absolute;
    right: 50vw;
    top:50vh;
    transition: right 2s,top 2s;
}


#Door{
    width: 4.1vw;
    height: 17vh;
    position: relative;
    top: 68.2vh;
    left: 49.4vw;
    box-shadow: #ffffff78 -4px 0px 20px;
    transition: box-shadow 1s;
    border-radius: 4px;
    transform: translate(50%,-50%);
    z-index:-1;
}

#Door:hover{
    cursor: pointer;
    box-shadow: rgb(138,3,3) -4px 0px 20px 8px;
    z-index:-1;
}

#note{
    width: 40px;
    position: absolute;
    top:550px;
    left:950px;
    transform: rotate(90deg);
    z-index:-1;
}
/*
#note{
    width: 40px;
    position: absolute;
    top: 60%;
    left: 57%;
    transform: rotate(90deg) translate(50%, -50%);
    z-index:-1;
}
*/