*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-align: center;
    user-select: none;
}

html{
	width:100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;

}

body{
	min-width:100%;
	min-height:100%;
	
}
#Background{
    position:absolute;
    background: url(../Imgs/stirs.jpg) no-repeat center center fixed; 
    background-size: cover;
    background-blend-mode: darken, luminosity;
    width: 100%;
    height: 100%;
    filter: blur(13px);
    transition: filter 2s;

}
#note{
    top: 800px;
    left:50px;
    filter: brightness(.04);
    position: absolute;
    width:100px;
    z-index:-1;
}
#Door{
    width: 390px;
    height: 550px;
    position: absolute;
    transform: translate(100%, -100%);
    top: 68%;
    left: 15vw;
    cursor:pointer;
    z-index:-1;
}